[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = https://github.com/kaushalmodi/hugo-atom-feed.git
