:root {
	--primary: darkcyan;
	--accent: magenta;
	--background: white;
	--text: black;
	--support-text: gray;
	--max-width: 680px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell,
		Helvetica Neue;
	font-size: 16px;
	background: var(--background);
	color: var(--text);
}

body {
	margin: 0;
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 10px 20px;
	min-height: 70vh;
}
