header.top {
	display: flex;
	flex-direction: row;
	max-width: var(--max-width);
	margin: auto;
	margin-bottom: 50px;
	padding: 10px;
	text-transform: uppercase;
	align-items: center;
}
header.top a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: var(--support-text);
}
header.top a.logo {
	width: 48px;
	height: 48px;
}
header.top a.logo svg {
	width: 28px;
	height: 28px;
}
header.top nav {
	display: flex;
	margin-left: 10px;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
}
header.top nav a:active,
header.top nav a:hover,
header.top nav a:focus {
	color: var(--text);
}
header.top > span,
header.top > button {
	display: block;
	padding: 10px;
	color: var(--support-text);
}
header.top > button {
	background: var(--background);
	border: none;
	cursor: pointer;
}
