div.profile {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 30px;
}

div.profile img {
	width: 120px;
	height: 120px;
	margin: 10px 0 0 20px;
	border-radius: 50%;
	border: 1px solid var(--support-text);
	align-self: flex-start;
}

div.profile .bio h1 {
	margin: 0 0 10px 0;
	letter-spacing: -0.9px;
}

div.profile .bio p {
	margin: 0 0 15px 0;
	line-height: 1.5em;
}

div.profile .bio ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}

div.profile .bio ul li {
	margin-right: 15px;
}

div.profile .bio ul a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--support-text);
	padding: 5px 0;
}

div.profile .bio ul a:focus,
div.profile .bio ul a:active,
div.profile .bio ul a:hover {
	text-decoration: underline;
	color: var(--text);
}

div.recent {
	margin-bottom: 40px;
}

@media (max-width: 575.98px) {
	div.profile {
		flex-direction: column;
	}

	div.profile .avatar {
		margin: auto;
	}

	div.profile img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	div.profile .bio {
		margin: auto;
	}

	div.profile .bio h1 {
		text-align: center;
	}

	div.profile .bio ul {
		justify-content: center;
	}
}
