html,
body {
	position: relative;
	margin: 0;
	min-height: 100%;
	height: 100%;
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

::selection {
	background-color: #79ffe1;
	color: #000;
}

a {
	text-decoration-line: none;
	color: black;
}

h1 {
	padding: 0 5px;
}

pre {
	overflow-x: auto;
	padding: 5px;
}
/* Header & Footer */

header,
footer,
#content {
	margin: auto;
	max-width: 900px;
	width: 100%;
}

header {
	display: flex;
	height: 50px;
	padding: 15px 20px;
}

header > .logo {
	display: block;
}

header > .menu {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header > .menu > .menu-link > a {
	padding: 0 15px;
	text-transform: uppercase;
}

header > .menu > .menu-link > a:hover,
header > .menu > .menu-link > a:active,
header > .menu > .menu-link.active > a {
	color: magenta;
}

footer {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	padding-bottom: 50px;
}

#content {
	flex-grow: 1;
	padding: 50px 20px;
	font-size: 16px;
}

#content.centered {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

/* Home Page */

#content .profile-links {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

#content .profile-links > li > a {
	display: block;
	padding: 10px;
	margin: 0 5px;
	text-transform: uppercase;
}

#content .profile-links > li > a:hover {
	background: #79ffe1;
	color: black;
}

/* Articles list */

#content .articles__list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding: 0;
}

#content .articles__list .article {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}

#content .articles__list .article a.title {
	padding: 5px;
	display: block;
}

#content .articles__list .article a.title:hover {
	background: #79ffe1;
}

#content .articles__list .article .date {
	padding: 0 5px;
	color: gray;
}

/* Tags list */

#content ul.tags__list {
	list-style-type: none;
	display: flex;
	padding: 0 5px;
}

#content ul.tags__list > .tag__item > a {
	padding: 5px 0;
	color: magenta;
	margin-right: 15px;
	text-transform: uppercase;
}

#content ul.tags__list > .tag__item > a:hover {
	text-decoration-line: underline;
}

/* Single article */

#content > .article .header {
	padding-bottom: 50px;
}

#content > .article .header .title {
	text-align: center;
}

#content > .article .header .date {
	display: flex;
	justify-content: center;
	color: gray;
}

#content > .article > .content {
	display: flex;
	flex-direction: column;
}

#content > .article > .content a {
	color: black;
	border-bottom: 2px solid #79ffe1;
}

#content > .article > .content a:active {
	background: #79ffe1;
}
