html,
body {
	position: relative;
	margin: 0;
	min-height: 100%;
	height: 100%;
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: auto;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

::selection {
	background-color: #79ffe1;
	color: #000;
}

a {
	text-decoration-line: none;
	color: black;
}

h1 {
	padding: 0 5px;
}

pre.chroma {
	overflow-x: auto;
	padding: 1rem;
	border: 1px solid lightgray;
	border-radius: 3px;
}

/* Header & Footer */

header,
footer,
#content {
	margin: auto;
	max-width: 900px;
	width: 100%;
}

header {
	display: flex;
	height: 50px;
	padding: 15px 20px;
}

header > .logo {
	display: block;
}

header > .menu {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header > .menu > .menu-link > a {
	padding: 0 15px;
	text-transform: uppercase;
}

header #toggle {
	padding: 0 10px;
	margin: 0 5px;
	background: white;
	border: none;
	color: black;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
}

header #toggle img {
	vertical-align: middle;
	width: 13px;
	height: 13px;
}

header > .menu > .menu-link > a:hover,
header > .menu > .menu-link > a:active,
header > .menu > .menu-link.active > a {
	color: magenta;
}

footer {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	padding-bottom: 30px;
}

#content {
	flex-grow: 1;
	padding: 50px 20px;
	font-size: 16px;
}

#content.centered {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

/* Home Page */

#content .profile-links {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

#content .profile-links > li > a {
	display: block;
	padding: 10px;
	margin: 0 5px;
	text-transform: uppercase;
}

#content .profile-links > li > a:hover {
	background: #79ffe1;
	color: black;
}

/* Posts list */

#content .posts__list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding: 0;
}

#content .posts__list .post__item {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}

#content .posts__list .post__item h2 {
	margin-top: 0;
}

#content .posts__list .post__item a.post__title {
	padding: 5px;
	display: inline-block;
}

#content .posts__list .post__item a.post__title:hover {
	background: #79ffe1;
}

#content .posts__list .post__item .post__date {
	padding: 0 5px;
	color: gray;
	text-transform: uppercase;
}

/* Tags list */

#content > ul.tags__list {
	display: flex;
	flex-direction: column;
}

#content ul.tags__list {
	list-style-type: none;
	display: flex;
	padding: 0 5px;
}

#content ul.tags__list > .tag__item {
	margin-right: 15px;
}

#content ul.tags__list > .tag__item > a {
	padding: 5px 0;
	color: magenta;
}

#content ul.tags__list > .tag__item > a:hover {
	text-decoration-line: underline;
}

#content ul.tags__list > .tag__item > span.count::before {
	content: '(';
}

#content ul.tags__list > .tag__item > span.count::after {
	content: ')';
}

/* Single post */

#content > .post .post__header {
	padding-bottom: 50px;
}

#content > .post .post__header .post__title {
	text-align: center;
}

#content > .post .post__header .post__date {
	display: flex;
	justify-content: center;
	color: gray;
	text-transform: uppercase;
}

#content > .post > .post__content {
	display: flex;
	flex-direction: column;
}

#content > .post > .post__content a {
	color: black;
	text-decoration: underline;
}

#content > .post > .post__content a:active,
#content > .post > .post__content a:focus {
	background: #79ffe1;
	outline-color: #79ffe1;
}

#content > .post .post__content p > img {
	display: block;
	margin: auto;
	max-width: 100%;
	border-radius: 2px;
}
