/**
 * Posts list template
 */

ul.posts {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: 1;
}

article {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

article > time {
	color: var(--support-text);
	font-size: 14px;
}

article > a.title {
	color: var(--text);
	text-decoration: none;
	padding: 0.5em 0;
}

article > a.title h2 {
	font-size: 18px;
	margin: 0;
}

article > ul.tags,
aside > ul.tags {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
}

article > ul.tags li {
	margin-right: 10px;
}

article > ul.tags li a {
	display: block;
	text-decoration: none;
	color: var(--support-text);
}

article > ul.tags li a:focus,
article > ul.tags li a:active,
article > ul.tags li a:hover,
div.blog aside > ul.tags li a:focus,
div.blog aside > ul.tags li a:active,
div.blog aside > ul.tags li a:hover {
	color: var(--text);
	text-decoration: underline;
}

div.blog {
	display: flex;
	flex-direction: row;
}

div.blog div.listing {
	flex-grow: 1;
	margin-right: 30px;
}

div.blog aside > ul.tags {
	flex-direction: column;
	width: 100px;
}

div.blog aside > ul.tags li a {
	display: inline-block;
	margin-bottom: 10px;
	color: var(--text);
	text-decoration: none;
	font-size: 14px;
}

@media (max-width: 767.98px) {
	div.blog {
		flex-direction: column;
	}
}

/* Post content container */

article section.content {
	margin-top: 30px;
	font-size: 18px;
	max-width: 35em;
	line-height: 1.5;
	letter-spacing: 0.05em;
	hyphens: auto;
	text-align: justify;
}

article .title {
	line-height: 1;
}

article .content h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	margin-top: 50px;
}

/* Post images */
article img {
	display: block;
	padding: 30px 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
}

/* Code snippets */

article pre {
	padding: 10px;
	display: block;
	overflow-x: auto;
	tab-size: 2;
	border-radius: 3px;
}
