ul.posts {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: 1;
}

article {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

article > time {
	color: var(--support-text);
	font-size: 14px;
}

article > a.title {
	color: var(--text);
	text-decoration: none;
	padding: 0.5em 0;
	font-size: 18px;
}

article > ul.tags,
aside > ul.tags {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
}

article > ul.tags li {
	margin-right: 10px;
}

article > ul.tags li a {
	display: block;
	text-decoration: none;
	color: var(--support-text);
}

article > ul.tags li a:focus,
article > ul.tags li a:active,
article > ul.tags li a:hover,
div.blog aside > ul.tags li a:focus,
div.blog aside > ul.tags li a:active,
div.blog aside > ul.tags li a:hover {
	color: var(--text);
	text-decoration: underline;
}

div.blog {
	display: flex;
	flex-direction: row;
}

div.blog div.listing {
	flex: 1;
	margin-bottom: 15px;
}

div.blog aside > ul.tags {
	flex-direction: column;
}

div.blog aside > ul.tags li a {
	display: inline-block;
	margin-bottom: 10px;
	color: var(--text);
	text-decoration: none;
	font-size: 14px;
}

@media (max-width: 767.98px) {
	div.blog {
		flex-direction: column;
	}
}
