* {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	text-align: center;
}

.container {
	font-size: 1.2em;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
img {
	border-radius: 50%;
	border: 2px solid #02b875;
	padding: 2px;
}

p {
	padding: 20px 0px;
}

ul {
	display: inline-flex;
	list-style: none;
}

li a {
	font-size: 1em;
	color: #02b875 !important;
	text-decoration: none;
}
li a:hover {
	font-weight: 400 !important;
}

li:not(:first-child) {
	padding-left: 1em;
}

footer p {
	padding: 10px 0px;
	font-size: 0.8em;
}
