<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	<body>
		{{ partial "header.html" . }}

		<main role="main">
			<div class="blog">
				<div class="listing">
					<h1 class="section">Latest</h1>
					{{ partial "posts.html" . }}
				</div>

				<aside>
					<h1 class="section">Tags</h1>
					<ul class="tags">
						{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
						{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
						<li>
							<a href="{{ .Permalink }}">{{ $name }}</a>
						</li>
						{{ end }}
						{{ end }}
					</ul>
				</aside>
			</div>
		</main>

		{{ partial "footer.html" . }}
	</body>
</html>
