<footer class="flex flex-grow flex-col sm:flex-row sm:items-end justify-end sm:justify-between px-2 pb-8 pt-16 sm:mt-16">
	<div class="flex justify-center items-baseline pb-6 sm:pb-0 sm:order-2">
		{{ range .Site.Author.social }}

		<a
			href="{{ .url }}"
			class="w-5 h-5 mx-3 md:mx-0 md:ml-6 text-gray-500 hover:text-gray-600"
			target="_blank"
			title="{{ .name }}"
		>
			{{ partial "fontawesome.html" .icon }}
		</a>

		{{ end }}
	</div>

	<span class="block text-center sm:text-left">
		{{ replace .Site.Copyright "{year}" now.Year }}
	</span>
</footer>
