<header>
	<div class="logo">
		<a href="/">
			<img src="/loop.svg" width="24" alt="The loop icon">
		</a>
	</div>

	<ul class="menu">
		{{- $currentPage := . -}}
		{{- range .Site.Menus.main -}}
		<li class="menu-link  {{ if hasPrefix $currentPage.RelPermalink .URL}}active{{ end }}">
			<a href="{{- .URL -}}">{{- .Name -}}</a>
		</li>
		{{- end -}}
		<li class="menu-link"><span>|</span></li>
		<li class="menu-link">
			<button id="toggle" type="button" title="Toggle dark mode">
				<img src="/images/theme-light.svg" />
			</button>
		</li>
	</ul>

</header>
