<head>
	{{- $title := printf "%s | %s" .Site.Title .Title -}}
	{{- if eq .URL "/" -}}
	{{- $title = .Site.Title -}}
	{{- end -}}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> {{- $title -}} </title>

	<!-- Open Graph -->
	<meta property="og:title" content="{{- $title -}}">
	<meta property="og:url" content="{{- .Permalink -}}" />
	<meta property="og:image" content="/loop.png">
	<meta name="twitter:card" content="summary">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- Normalize.css -->
	{{- $normalize := resources.Get "css/normalize.css" | minify | fingerprint -}}
	<link rel="stylesheet" href="{{- $normalize.Permalink -}}" integrity="{{- $normalize.Data.Integrity -}}">

	<!-- Light/Dark themes -->
	{{- $chroma_light := resources.Get "css/chroma/light.css" | minify | fingerprint -}}
	<link rel="stylesheet" href="{{- $chroma_light.Permalink -}}" integrity="{{- $chroma_light.Data.Integrity -}}">

	{{- $chroma_dark := resources.Get "css/chroma/dark.css" | minify | fingerprint -}}
	<link rel="stylesheet" href="{{- $chroma_dark.Permalink -}}" integrity="{{- $chroma_dark.Data.Integrity -}}">

	<!-- Our CSS -->
	{{- $mainCSS := resources.Get "css/main.css" | postCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{- $mainCSS.Permalink -}}" integrity="{{- $mainCSS.Data.Integrity -}}">
</head>
