<ul class="posts">
	{{ $posts := .Pages }}
	{{ if .Scratch.Get "Limit" }}
	{{ $posts = first (.Scratch.Get "Limit") .Pages }}
	{{ end }}

	{{ range $posts }}
	<li>
		<article>
			<time datetime="{{ .Date }}">{{ .Date.Format "Jan 02, 2006" }}</time>
			<a class="title" href="{{ .URL }}"> <h2>{{ .Title }}</h2> </a>
			<ul class="tags">
				{{ range .Params.tags }}
				{{ $name := . }}

				{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
				<li>
					<a href="{{ .Permalink }}">{{ $name }}</a>
				</li>
				{{ end }}

				{{ end }}
			</ul>
		</article>
	</li>
	{{ end }}
</ul>
