<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	<body>
		{{ partial "header.html" . }}

		<main>
			<section class="profile">
				<div class="info">
					<h1>{{ .Site.Title }}</h1>
					<p>I build various stuff using code, silly things mostly. In ❤ with
						Node.js, and Go, but use other tech too. Open source for fun 😍</p>
					<ul>
						{{ range .Site.Params.links }}
						<li> <a href="{{ .url }}"> {{ .name }} </a> </li>
						{{ end }}
					</ul>
				</div>
				<img src="/images/me.jpg" alt="{{ .Site.Title }}" />
			</section>
			<section class="recent">
				<header class="section">Latest</header>
				{{ .Scratch.Set "Limit" 3 }} {{ partial "posts.html" . }}
			</section>
		</main>

		{{ partial "footer.html" . }}
	</body>
</html>
