<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	<body>
		{{ partial "header.html" . }}

		<main>
			<div class="profile">
				<div class="avatar">
					<img src="/images/me.jpeg" alt="Me wearing a hoodie and think I'm cool!" />
				</div>
				<div class="bio">
					<h1>Ahmed T. Ali</h1>
					<p>A Software Developer who builds various stuff, mostly in JavaScript. He
						does open source in his free time and write about the things he builds,
						and adventures he goes through in life.</p>
					<ul>
						{{ range .Site.Params.links }}
						<li> <a href="{{ .Permalink }}" rel="me"> {{ .name }} </a> </li>
						{{ end }}
					</ul>
				</div>
			</div>
			<div class="recent">
				<h1 class="section">Latest</h1>
				{{ .Scratch.Set "Limit" 3 }} {{ partial "posts.html" . }}
			</div>
		</main>

		{{ partial "footer.html" . }}
	</body>
</html>
