<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	<body>
		{{ partial "header.html" . }}

		<main>
			<div class="profile">
				<div class="avatar">
					<img src="/images/me.jpeg" alt="Me wearing a hoodie!" />
				</div>
				<div class="bio">
					<h1>Ahmed T. Ali</h1>
					<p>Hey there 👋, I'm a Software Developer. I build various stuff, mostly in
						JavaScript or Golang. I do open source in my free time and write about the
						things that I do, and the adventures I go through in life.</p>
					<ul>
						{{ range .Site.Params.links }}
						<li> <a href="{{ .Permalink }}" rel="me"> {{ .name }} </a> </li>
						{{ end }}
					</ul>
				</div>
			</div>
			<div class="recent">
				<h1 class="section">Latest</h1>
				{{ .Scratch.Set "Limit" 3 }} {{ partial "posts.html" . }}
			</div>
		</main>

		{{ partial "footer.html" . }}
	</body>
</html>
